<h1><%= question_header(@question) %></h1>
<%= render 'shared/errors', resource: @question %>

<%= form_with model: [@test, @question] do |form| %>
  
  <p>
    <%= form.label :body %>
    <%= form.text_field :body %>
  </p>
  <p><%= form.submit %></p>
<% end %>

<%= link_to 'Back', test_questions_path %>
