<div class="row justify-content-center mt-3">
  <div class="col col-md-4">
    <h2><%= t('.resend_confirmation_instructions') %></h2>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <p>
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control'%>
        </p>

        <%= f.submit t('.resend_confirmation'), class: 'btn btn-primary' %>
      </div>
    <% end %>
    <div class="mt-2 mb-2">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
