<div class="d-flex justify-content-center mt-2">
  <div class="table-responsive text-center">
    <h3 class="mt-2 mb-2"><%= t('.header') %></h3>
    <table class="table table-bordered table-sm">
      <thead class="thead-light">
        <tr>
          <th><%= t('.name') %></th>
          <th><%= t('.image') %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @badges %>
      </tbody>
    </table>
  </div>
</div>
<div class="col-md-8">
  <%= link_to t('common.back'), tests_path, class: "btn btn-primary mb-3 mt-3" %>
</div>
