<div class="container-fluid mt-5">
  <h1 class="text-center"><%= t('.header', test: @test_passage.test.title) %></h1>
  <%= content_tag :div, class: "progress-bar", data: { questions_count: @test_passage.test.questions.count, current_question_number: @test_passage.current_question.number } do %>
    <div class="progress-bar-line"></div>
  <% end %>
  <p>
    <%= t('.time_left') %> <%= content_tag :span, '', class: 'timer', data: { timer: @test_passage.test.duration_time, id: @test_passage.id } %>
  </p>
  <p><%= t('.total', count: @test_passage.test.questions.count) %></p>
  <% unless @test_passage.completed? %>
    <p class="mb-3"><%= t('.currently', number: @test_passage.current_question.number) %></p>
    <b class="mb-3 d-block"><%= @test_passage.current_question.body %></b>
    <%= form_with url: test_passage_path(@test_passage), local: true, method: :put, class: "form-group" do |form| %>
      <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
        <p class="form-check">
          <%= b.check_box id: "answer_ids_#{b.object.id}", class: "form-check-input" %>
          <%= b.label class: "form-check-label" %>
        </p>
      <% end %>
      <p>
        <%= link_to t('.create_gist'), gist_test_passage_path(@test_passage), class: 'btn btn-primary mt-3', method: :post %>
        <%= form.submit t('.next'), class: "btn btn-primary mt-3" %>
      </p>
    <% end %>
  <% end %>
</div>
