<div>
  <p>
    <%= current_year %> |
    <%= t('.author') %>
    <%= github_url('supronva-github', 'test-guru') %>
  </p>
  <p>
    <%= t('.project_description') %> |
    <%= link_to t('.course'), "https://thinknetica.com/", target: :blank %>
  </p>
</div>
