<footer class="page-footer bg-light fixed-bottom">
  <p class="text-center">
    <%= current_year %> |
    <%= t('.author') %>
    <%= github_url('supronva-github', 'test-guru') %>
  </p>
  <p class="text-center">
    <%= t('.project_description') %> |
    <%= link_to t('.course'), "https://thinknetica.com/", target: :blank %>
  </p>
</footer>
