<nav class="navbar navbar-expand-lg bg-info navbar-dark">
  <div class="container-fluid">
    <%= link_to t('.project_name'), root_path, class:"navbar-brand text-white" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Переключатель навигации">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="nav navbar-nav">
        <% if user_signed_in? %>
          <span class="navbar-text text-white">
          <%= t('.welcome')%> <b><%= current_user.email %></b>
          </span>
          <% if current_user.admin? %>
            <%= link_to admin_tests_path, class: "nav-link text-white" do %>
              <%= icon('person-gear', t('.admin')) %>
            <% end %>
          <% end %>
          <%= link_to icon('box-arrow-left',t('.logout')), destroy_user_session_path, method: :delete, class:"nav-link text-white" %>
        <% else %>
          <%= link_to icon('box-arrow-right',t('.login')), new_user_session_path, class:"nav-link text-white" %>
          <%= link_to icon('people',t('.singup')), new_user_registration_path, class:"nav-link text-white" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
<div>
  <%= show_flash %>
</div>
