<div class="nav user">
  <%= link_to t('.project_name'), root_path %> |
  <% if user_signed_in? %>
      <%= t('.welcome')%> <b><%= current_user.email %></b> |
      <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to t('.login'), new_user_session_path %> |
    <%= link_to t('.singup'), new_user_registration_path %>
  <% end %>
  <%= show_flash %>
</div>
