<h1><%= answer_header(answer) %></h1>

<%= form_with model: [question, answer] do |form| %>
  <%= render 'shared/errors', resource: answer %>
  <p>
    <%= form.label :body %>
    <%= form.text_area :body, id: :answer_body, size: "70x5" %>
  </p>
  <p>
    <%= form.label :correct %>
    <%= form.check_box :correct, id: :answer_correct %>
  </p>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
