<div class="container mt-5">
  <h1><%= answer_header(answer) %></h1>
  <%= form_with model: [:admin, question, answer], class: "form-group" do |form| %>
    <%= render 'shared/errors', resource: answer %>
    <div class="form-group">
      <%= form.label :body, class: "control-label" %>
      <%= form.text_area :body, id: :answer_body, size: "70x5", class: "form-control" %>
    </div>
    <div class="form-group form-check">
      <%= form.label :correct, class: "form-check-label" %>
      <%= form.check_box :correct, id: :answer_correct, class: "form-check-input" %>
    </div>
    <div class="form-group">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
