 <table border="1">
   <caption><%= @question.body %></caption>
  <tr>
    <th> Id </th>
    <th> Варианты ответов </th>
    <th> true/false </th>
    <th colspan="3"> Action </th>
  </tr>
   <%= render @question.answers %>
</table>

<%= link_to 'New Answer', new_admin_question_answer_path(@question) %>
<%= link_to 'Edit Question', edit_admin_question_path(@question) %>
<%= link_to 'Back', admin_test_questions_path(@question.test) %>
